@model IEnumerable<Products>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.availability)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.availability)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Product_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Product_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Product_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
